.my-account-section{
  padding-top: 40px;
}
.user-dropdown{
  @extend .menu-login;
  >img{
    width: 30px;
    margin-right: 5px;
    vertical-align: middle;
    @include border-radius(3px);
  }
}
.user-dropdown-content{
  background: #fff !important;
  a{
    line-height: 22px !important;
  }
}
.f-dropdown{
  text-align: left;
  li{
    width: 100%;
    a{
      &:hover{
        background: none !important;
      }
    }
  }
}
.f-dropdown.user-dropdown-content{
  max-width: 150px;
  border: none;
  @include box-shadow(0px 2px 2px rgba(50, 50, 50, 0.75));
  @include border-radius(0 0 10px 10px);
  li{
    border-bottom: 1px solid #ececec;
    &:hover{
      @include background-image($primary-gradient !important);
    }
    &:hover > a{
      color: #fff;
      background: none;
    }
    &:focus{
      @extend :hover;
    }
    &:last-child{
      @include border-radius(0 0 10px 10px);
      border-bottom: none;
    }
    a{
      font-size: 14px;
      color: #444;
    }
  }
}
.section-container section .title a, .section-container .section .title a, .section-container.auto section .title a, .section-container.auto .section .title a{
  font-size: 1.3em;
  padding: 0.2em 2.6em;
}
.section-container.auto section .title, .section-container.auto .section .title{
  @include border-radius(4px 4px 0 0);
}
.inside-section{
  @media only screen and (min-width: 768px){
    padding-left: 30px !important;
  }
}
.user-bio-box{
  img{
    margin-top: 15px;
    @include border-radius(4px);
  }
  .change-pic{
    text-align: center;
    color: $secondary-color;
    font-size: 0.8em;
    display: block;
  }
  @media only screen and (max-width: 768px){
    text-align: center;
  }
}
.save-bio{
  float: right;
}
.dashboard-messages{
  @extend .side-bar;
  width: 95%;
  margin: 15px auto 0;
}
.set-of-stars{
  margin-top: -10px;
  margin-bottom: 10px;
}
.dashboard-bar{
  @media only screen and (max-width: 768px){
    display: none;
  }
  height: 8px;
  width: 100%;
  background: $secondary-color;
  margin-top: -0.9375em;
  margin-bottom: 1em;
}
.section-container.auto section.active .title, .section-container.auto .section.active .title{
  background-color: $secondary-color;
  a{
    color: #fff;
  }
}
.section-container section .title, .section-container .section .title, .section-container.auto section .title, .section-container.auto .section .title{
  background-color: #fff;
}
.user-account-settings{
  table{
    border: none;
  }
  table tr.even, table tr.alt, table tr:nth-of-type(2n) {
    background: none;
  }
}
.user-payout-settings{
  h4{
    display: inline-block;
    margin-right: 15px;
  }
  .icon-question-sign{
    font-size: 1.3em;
    color: $secondary-color;
  }
  .payout-method{
    margin: 0 auto;
    span{
      font-size: 0.85em;
      margin-left: 10px;
      @media only screen and (max-width: 768px){
        display: block;
        margin-top: -0.75em;
      }
    }
  }
}