<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>GarageHunt │ Storage Space and Parking Spots from People in your Neighborhood</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/custom.css">

  <script src="js/vendor/custom.modernizr.js"></script>
</head>
<body>
  <div class="bs-load" id="js-bsload" style="display:none">
    <span class="icon-spinner icon-spin icon-2x"></span>
  </div>
  <div id="js-menu">
    <!-- Menu injection goes here -->
  </div>
  <div id="js-page">
    <!-- Ajax injected pages goes here -->
  </div>
  <div id="js-modals-section">
    <!-- Modals goes here -->
  </div>
  <footer>
    <!-- Shit tons of links goes here -->
  </footer>
  <!-- NAVBAR MENU TMPL -->
  <script type="text/template" id="tmpl-navbar">
    <div class="contain-to-grid fixed">
      <nav class="top-bar">
        <ul class="title-area">
          <li><a class="logo" href="/"></a></li>
          <li class="toggle-topbar menu-icon"><a href="javascript:void(0)"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <!-- BEGIN DESKTOP LOGGED IN MENU ITEMS -->
            <% if (rc.name) { %>
            <li class="divider"></li>
            <li>
              <a class="user-dropdown hide-for-small" id="js-dropdown" data-dropdown="js-user-dropdown" href="javascript:void(0)">
                <img src="img/reza.jpg" alt="profile picture">
                <span><%= rc.name %></span>
                <span class="icon-caret-down"></span>
              </a>
              <ul class="f-dropdown user-dropdown-content" id="js-user-dropdown" data-dropdown-content>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Bookings</a></li>
                <li><a href="#">Listings</a></li>
                <li><a href="#">Account</a></li>
                <li><a class="js-logout" href="javascript:void(0)">Log out</a></li>
              </ul>
            </li>
            <!-- END -->
            <!-- BEGIN MOBILE LOGGED IN MENU ITEMS -->
            <li><a class="show-for-small logged-in-item" href="#">dashboard</a></li>
            <li class="divider show-for-small"></li>
            <li><a class="show-for-small logged-in-item" href="#">bookings</a></li>
            <li class="divider show-for-small"></li>
            <li><a class="show-for-small logged-in-item" href="#">listings</a></li>
            <li class="divider show-for-small"></li>
            <li><a class="show-for-small logged-in-item" href="#">account</a></li>
            <li class="divider show-for-small"></li>
            <li><a class="show-for-small logged-in-item js-logout" href="javascript:void(0)">log out</a></li>
            <!-- END -->
            <% } else { %>
            <!-- BEGIN LOGGED OUT MENU ITEMS -->
            <li class="divider"></li>
            <li><a class="menu-login" id="js-menu-login" href="javascript:void(0)">log in</a></li>
            <li class="divider"></li>
            <li><a class="menu-signup" id="js-menu-signup" href="javascript:void(0)">sign up</a></li>
            <!-- END -->
            <% } %>
            <li><a class="list-your-space-button" id="js-menu-listyourspace" href="#!/list-your-space">list your space</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </script>
  <!-- DEPENDENCIES -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <script src="js/vendor/underscore-min.js"></script>
  <script src="http://www.parsecdn.com/js/parse-1.2.2.min.js"></script>
  <!-- FOUNDATION -->
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.alerts.js"></script>
  <script src="js/foundation/foundation.clearing.js"></script>
  <script src="js/foundation/foundation.cookie.js"></script>
  <script src="js/foundation/foundation.dropdown.js"></script>
  <script src="js/foundation/foundation.forms.js"></script>
  <script src="js/foundation/foundation.joyride.js"></script>
  <script src="js/foundation/foundation.magellan.js"></script>
  <script src="js/foundation/foundation.orbit.js"></script>
  <script src="js/foundation/foundation.placeholder.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>
  <script src="js/foundation/foundation.section.js"></script>
  <script src="js/foundation/foundation.tooltips.js"></script>
  <script src="js/foundation/foundation.topbar.js"></script>
  <!-- EXTRA LIBRARIES -->
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyD_KQUhq5bQ9vfIUcYdSZcvQnxbTzH7vcE&sensor=false&libraries=places"></script>
  <script src="js/vendor/gmap3.js"></script>
  <script src="js/vendor/parsley.js"></script>
  <!-- MVC -->
  <script src="js/app/tmpl.js"></script>
  <script src="js/app/models.js"></script>
  <script src="js/app/views.js"></script>
  <script src="js/app/router.js"></script>
  <!-- CUSTOM -->
  <script src="js/main.js"></script>
  <!-- ANALYTICS -->
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39182231-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
